@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap&subset=cyrillic");
.body {
  font-family: "Montserrat", "sans-serif";
  font-weight: 400;
  font-size: 14px;
}

/* Шапка сайта*/
.header, .slider {
  background-color: #F9F6F1;
}

/* Меню навигации */
.menu {
  padding-top: 60px;
}

.menu__brand {
  width: 100%;
  position: fixed;
  left: 0;
  top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__brand a {
  font-weight: 700;
}

.menu__brand img {
  margin-right: 10px;
}

.menu__toogler {
  z-index: 10;
}

.menu__toogler:focus {
  outline: none;
}

.menu__link {
  font-weight: 500;
  color: #212121 !important;
}

.menu__purchase-count {
  color: white;
  text-shadow: black 0 0 2px;
  margin-left: -20px;
}

.menu__shopping-basket {
  margin-top: -7px;
}

/* Слайдер */
.slider {
  padding-top: 140px;
  padding-bottom: 200px;
}

.slider__buttons {
  bottom: -100px;
}

.slider__buttons li {
  background-color: #CECECE;
  border: 1px solid black;
  opacity: 1;
  width: 40px;
  height: 7px;
}

.slider__buttons li.active {
  background-color: #D7B399;
}

.slider__image {
  margin-left: auto;
}

.slider__caption {
  color: #212121 !important;
  left: 0;
  right: 50%;
  text-align: left;
}

.slider__caption-title {
  font-size: 30px;
  font-weight: 400;
}

.slider__control-prev {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23CECECE' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

.slider__control-next {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23CECECE' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

/* Медиа */
@media screen and (max-width: 375px) {
  .menu__brand {
    left: 50px;
  }
}

@media screen and (max-width: 767px) {
  .slider {
    padding-top: 40px;
    padding-bottom: 100px;
  }
  .slider__image {
    margin-right: auto;
    width: 100% !important;
  }
  .slider__buttons {
    bottom: -50px;
  }
}
