@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap&subset=cyrillic');
$f-main: 'Montserrat', 'sans-serif';
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

$cl-grey: #E5E5E5;
$cl-cream: #F9F6F1;
$cl-accent: #D7B399;
$cl-black: #212121 !important;

.body {
    font-family: $f-main;
    font-weight: $fw-regular;
    font-size: 14px;
}

/* Шапка сайта*/
.header {
    background-color: $cl-cream;
}

/* Меню навигации */
.menu {
    padding-top: 60px;

    &__brand {
        width: 100%;
        position: absolute;
        left: 0;
        top: 55px;
        display: flex;
        justify-content: center;

        & a {
            font-weight: $fw-bold;
        }

        & img {
            margin-right: 10px;
        }
    }

    &__toogler {
        z-index: 10;
    
        &:focus {
            outline: none;
        }
    }

    &__link {
        font-weight: $fw-medium;
        color: $cl-black;
    }

    &__purchase-count {
        color: white;
        text-shadow: black 0 0 2px;
        margin-left: -20px;
    }

    &__shopping-basket {
        margin-top: -7px;
    }
}

/* Слайдер */
.slider {
    background-color: $cl-cream;
    padding-top: 140px;
    padding-bottom: 200px;

    &__buttons {
        bottom: -100px;

        & li {
            background-color: #CECECE;
            border: 1px solid black;
            opacity: 1;
            width: 40px;
            height: 7px;

            &.active {
                background-color: $cl-accent;
            }
        }
    }

    &__image {
        margin-left: auto;
    }

    &__caption {
        color: $cl-black;
        left: 0;
        right: 50%;
        text-align: left;

        &-title {
            font-size: 30px;
            font-weight: $fw-regular;
        }

        &-description {
            font-size: 55px;
            font-weight: $fw-bold;
        }
    }

    &__control-prev {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23CECECE' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
    }

    &__control-next {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23CECECE' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
    }
}

/* Объявления */
.declaration {
    padding: 70px 0;
    background-color: $cl-black;

    &__title {
        color: white;
        font-size: 30px;
        font-weight: $fw-bold;
        letter-spacing: 0.02em;
        text-align: center;
    }

    &__price {
        font-weight: $fw-regular;
    }

    &__text {
        color: $cl-grey;
        text-align: center;
        font-weight: $fw-light;
        font-size: 21px;
    }
}

/* Категории */


/* Форма подписки */
.subscription {
    background-color: $cl-black;
    padding: 70px 0;

    &__title {
        color: white;
        font-weight: $fw-bold;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
        letter-spacing: 0.02em;
    }

    &__form {
        display: flex;
    }

    &__mail {
        width: 100%;
        padding: 10px 15px;
        color: $cl-grey;
    }

    &__button {
        padding: 10px 35px;
        font-weight: $fw-medium;
        font-size: 14px;
        color: white;
        background-color: $cl-accent;
        border: none;
        margin-left: 35px;
    }
}

/* Модели товаров */
.models {
    margin: 150px 0;
    text-align: center;    

    &__title {
        width: 100%;
        font-weight: $fw-bold;
        font-size: 36px;
        line-height: 44px;
    }

    &__list {
        margin: 100px 0;
        justify-content: center;
    }

    &__description {
        font-weight: $fw-semi-bold;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 0;
    }

    &__price {
        font-weight: $fw-bold;
        font-size: 18px;
        line-height: 22px;
        color: $cl-accent;
        margin-bottom: 0;
    }

    &__portrait {
        max-width: 200px;
        padding: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
    }

    &__caption {
        padding-top: 20px;
    }

    &__portrait:before, &__portrait:after,
    &__caption:before, &__caption:after {
        content:"";
        position: absolute;
        width: 25px;
        height: 25px;
    }

    &__portrait:before {
        top: 0;
        left: 0;
        border-top: 3px solid $cl-accent;
        border-left: 3px solid $cl-accent;
    }

    &__portrait:after {
        top: 0;
        right: 0;
        border-top: 3px solid $cl-accent;
        border-right: 3px solid $cl-accent;
    }

    &__caption:before {
        bottom: 0;
        left: 0;
        border-bottom: 3px solid $cl-accent;
        border-left: 3px solid $cl-accent;
    }

    &__caption:after {
        bottom: 0;
        right: 0;
        border-bottom: 3px solid $cl-accent;
        border-right: 3px solid $cl-accent;
    }

    &__bottom {
        justify-content: center;        
    }

    &__button {
        background-color: $cl-accent;
        color: white;
        padding: 20px;

        &:hover {
            color: white;
            text-decoration: none;

            & .models__button-arrow {
                transform: scaleX(1.5) translateX(3px);
            }
        }

        &-arrow {
            margin-left: 10px;
            font-size: 1.2em;
        }
    }
}

/* Подвал */
.footer {
    &__links {
        background-color: $cl-black;
        color: white;
        padding: 70px 0;
    }

    &__title {
        font-size: 10px;
        font-weight: $fw-bold;
        margin-bottom: 15px;
    }

    &__info {
        line-height: 22px;
        padding-right: 50px;
    }

    &__link {
        display: block;
        color: white;
        margin-bottom: 10px;

        & i {
            margin-right: 5px;
            color: $cl-accent;
            font-size: 1.2em;
        }

        &:hover {
            color: white;
        }

        &-logo {
            font-weight: $fw-bold;
            font-size: 24px;

            & img {
                margin-right: 10px;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__copyright {
        padding: 30px 0;

        &-policy {
            text-align: right;
        }
    }
}

/* Медиа */
@media screen and (max-width: 1199px) {
    .slider__caption-description {
      font-size: 40px;
    }
}

@media screen and (max-width: 1023px) {
    .subscription__form {
        display: block;
    }

    .subscription__button {
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .slider__caption-description {
      font-size: 20px;
    }
}

@media screen and (max-width: 767px) {
    .slider {
        padding-top: 40px;
        padding-bottom: 100px;

        &__image {
            margin-right: auto;
            width: 100% !important;
        }

        &__buttons {
            bottom: -50px;
        }

        &__caption-description {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 375px) {
    .menu__brand {
        width: 80%;
        left: 50px;
    }
}