@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap&subset=cyrillic');
$f-main: 'Montserrat', 'sans-serif';
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

$cl-grey: #E5E5E5;
$cl-cream: #F9F6F1;
$cl-accent: #D7B399;
$cl-black: #212121 !important;

.body {
    font-family: $f-main;
    font-weight: $fw-regular;
    font-size: 14px;
}

/* Шапка сайта*/
.header {
    background-color: $cl-cream;
}

/* Меню навигации */
.menu {
    padding-top: 60px;

    &__brand {
        width: 100%;
        position: fixed;
        left: 0;
        top: 55px;
        display: flex;
        justify-content: center;

        & a {
            font-weight: $fw-bold;
        }

        & img {
            margin-right: 10px;
        }
    }

    &__toogler {
        z-index: 10;
    
        &:focus {
            outline: none;
        }
    }

    &__link {
        font-weight: $fw-medium;
        color: $cl-black;
    }

    &__purchase-count {
        color: white;
        text-shadow: black 0 0 2px;
        margin-left: -20px;
    }

    &__shopping-basket {
        margin-top: -6px;
    }
}

/* Медиа */
@media screen and (max-width: 375px) {
    .menu__brand {
        left: 50px;
    }
}